env/*/bin
env/*/include
env/*/lib
env/*/lib64
env/*/pyvenv.cfg

logs/*.out
logs/*.err
logs/*.log


results/metrics/*.metrics.txt
results/peaks/*.bed
results/peaks/*.bdg
results/peaks/*.narrowPeak
results/peaks/*.xls


src/__pycache__/*

.snakemake/*

