env/*/bin
env/*/include
env/*/lib
env/*/lib64
env/*/pyvenv.cfg

logs/*.out
logs/*.err
logs/*.log

data/align/*.bam
data/align/*.bai
data/align/*.bai
data/align/*_merge.list
data/fastq/*/*/*.fastq
data/fastq/*/*/*.fastq.gz
data/wig/*.bw
data/wig/*.bigWig

results/metrics/*.metrics.txt
results/peaks/*.bed
results/peaks/*.bdg
results/peaks/*.narrowPeak
results/peaks/*.xls


src/__pycache__/*

.snakemake/*

